#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.joke-display h1 {
  color: goldenrod;
  font-size: 50px;
}

.joke-display p {
  font-size: 30px;
}

.about-page img {
  width: 100%;
}

body {
  background-color: antiquewhite;
}